---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
IncludeBlocks: Preserve
SortIncludes: true
